.contacts__list {
    display: flex;
    margin-left: auto;
    align-items: center;

    & li + li {
      margin-left: 50px;
  }
}

.contacts__link {
  color: var(--primary-text-color);

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em; 
   text-decoration: none;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 250ms, 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
   transition-delay: 0s, 0s;
   transition-property: color, fill;

   &:hover,
   &:focus
   {
       color: var(--accent-color);
   }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__link {
    display: flex;
    align-items: center;
    fill: currentColor;
}
